

.contactListItem {
/*display: flex;*/
    /*justify-content:space-around;*/
list-style: none;


}
.contactListItem:not(:last-child) {
    margin-bottom: 10px;

}

.contact {
    justify-content:center;
    color: #e2de05;
    font-weight: bold;
    font-size: 22px;

}
.buttonDelete{

    background-color: #f16262;
  border-radius: 10px;
    margin: 0 auto;

}